body {
	text-align: left;
}

h1, h3 {
	font-family: Roboto, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-weight:bold;
}

#second {
	font-weight: bold;	
}

h3 {
	font-size: 24px;
}


p {
	font-family: Roboto, serif;
	font-weight: lighter; 
}

.important {
	font-weight: bold;
	font-size: 20px;
}

a {
	font-style: italic;
	text-decoration: underline;
}